body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: url('https://p4.wallpaperbetter.com/wallpaper/296/615/731/nba-basketball-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}


.overlay {
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.70);
    min-height: 100vh;
    padding: 25px;
}


h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #00a2ff;
}


a, button {
    font-size: 16px;
    padding: 10px 18px;
    background: linear-gradient(45deg, #ff3b3b, #005eff);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.25s;
    box-shadow: 0 0 10px #000;
}

a:hover, button:hover {
    transform: scale(1.07);
    box-shadow: 0 0 15px #ff0000, 0 0 15px #0077ff;
}


table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 15px;
    background: rgba(0,0,0,0.65);
    box-shadow: 0 0 25px rgba(0,0,0,0.9);
}

table th {
    padding: 15px;
    background: linear-gradient(90deg, #ff1f1f, #003cff);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    text-shadow: 1px 1px 3px black;
}

table td {
    padding: 15px;
    text-align: center;
    font-size: 17px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

table tr:hover {
    background: rgba(255,255,255,0.10);
    cursor: pointer;
    transition: 0.25s;
}


form {
    background: rgba(0,0,0,0.65);
    padding: 25px;
    width: 450px;
    margin: 25px auto;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.8);
    backdrop-filter: blur(4px);
}

label {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(45deg, #28a745, #1f7c34);
}

button:hover {
    background: linear-gradient(45deg, #34d15b, #29a943);
    transform: scale(1.05);
}


.volver {
    display: block;
    margin: 20px auto;
    width: 120px;
    text-align: center;
    background: linear-gradient(45deg, #ff3b3b, #c92828);
}

.volver:hover {
    background: linear-gradient(45deg, #ff5a5a, #ff2020);
}
